{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines"
  ],
  "plugins": ["stylelint-scss"],
  "rules": {
    "number-no-trailing-zeros": null,
    "block-opening-brace-space-before": null,
    "color-named": null,
    "declaration-bang-space-after": null,
    "declaration-bang-space-before": null,
    "declaration-colon-newline-after": null,
    "declaration-colon-space-after": null,
    "declaration-colon-space-before": null,
    "declaration-empty-line-before": null,
    "font-family-no-missing-generic-family-keyword": null,
    "max-nesting-depth": null,
    "number-leading-zero": null,
    "order/order": [],
    "order/properties-alphabetical-order": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/at-import-partial-extension-blacklist": null,
    "selector-class-pattern": null,
    "selector-max-compound-selectors": 5,
    "selector-max-id": 1,
    "selector-no-qualifying-type": null,
  }
}