<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sample | redmine-resource-calendar</title>
    <link rel="stylesheet" type="text/css" href="/bundle.css">
    <script src="/bundle.js" defer></script>
  </head>
  <body>
    <header>
      redmine-resource-calendar / <%= 'about???' %>
    </header>
    <main>
      <article>
      </article>
    </main>
    <footer>
      &copy; 2019 <a href="https://github.com/yano3nora/redmine-resource-calendar" target="_blank">
        yano3nora/redmine-resource-calendar
      </a>
    </footer>
  </body>
</html>