<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sample | redmine-resource-calendar</title>
    <link rel="stylesheet" type="text/css" href="/redmine-resource-calendar.css">
    <script src="/redmine-resource-calendar.js" defer></script>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
  </head>
  <body style="padding: 2rem;">
    <div id="redmine-resource-calendar"
      data-users='<%= process.env.USERS %>'
      data-url="<%= process.env.URL %>"
      data-api-key="<%= process.env.API_KEY %>"
      data-workload="<%= process.env.WORKLOAD %>"
    ></div>
  </body>
</html>