#redmine-resource-calendar {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  table {
    border-collapse: collapse;
  }

  th {
    color: white;
    background: #888;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
  }

  tr:nth-child(even) {
    background: #f8f8f8;
  }

  .redmine-resource-calendar__content {
    overflow-x: scroll;
  }

  .redmine-resource-calendar-form {
    margin-bottom: 10px;

    select {
      padding: 3px;
      margin-right: 3px;
    }

    button {
      padding: 3px 5px;
    }
  }

  .redmine-resource-calendar-table {
    width: 100%;
  }

  .redmine-resource-calendar-week-field {
    min-width: 100px;
    text-align: center;
  }

  .redmine-resource-calendar-user-field {
    padding: 0;
  }

  .redmine-resource-calendar-user-field__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
  }

  .redmine-resource-calendar-resources {
    min-width: 200px;
    flex: 0 1 65%;
  }

  .redmine-resource-calendar-tickets {
    flex: 0 1 35%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100px;
    font-size: 12px;
    border-left: 1px dotted #aaa;

    a {
      display: block;
      margin: 3px;
      color: #0068b7;
    }
  }

  .redmine-resource-calendar-plans {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 5px 5px 3px;

    &::before {
      content: 'Plans';
      display: block;
      min-width: 40px;
      font-size: .9em;
      color: #666;
      font-weight: bold;
    }
  }

  .redmine-resource-calendar-acts {
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted #aaa;
    height: 50px;
    padding: 5px 5px 3px;

    &::before {
      content: 'Acts';
      min-width: 40px;
      font-size: .9em;
      color: #666;
      font-weight: bold;
    }
  }

  .redmine-resource-calendar-percent {
    min-width: 60px;
    align-self: center;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    color: #555;

    &::after {
      content: '%';
      font-size: 12px;
    }
  }

  .redmine-resource-calendar-hours {
    flex: 0 1 30%;
    text-align: right;
    align-self: flex-end;
    color: #666;

    &::after {
      content: 'h';
      font-size: 12px;
    }
  }

  .redmine-resource-calendar--low {
    background: rgba(20, 170, 160, 0.15);
  }

  .redmine-resource-calendar--middle {
    background: rgba(250, 210, 20, 0.15);
  }

  .redmine-resource-calendar--high {
    background: rgba(170, 20, 20, 0.15);
  }
}
